<div class="toolbar" role="banner">
  <h1>Login Page</h1>
  <div id="wrapper">
    <div class="close">
      <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class="header">
      <h1>Login</h1>
      <span  style="background-color: red; color:white;font-family: Arial, Helvetica, sans-serif; border-radius: 20px; width: 100%; padding: 10px;display: none;" #danger></span>
      <form  method="post">
          <input type="email" required #email name="email" title="Email" placeholder="Email" />
          <input type="password" required #pass name="pass" title="Password" placeholder="Password" />
          <div class="button">
              <button type="submit" (click)="logMessage(email.value,pass.value,danger)" class="signup">Login</button>
          </div>
            <a routerLink="/signup"  class="signup">SignUp</a>
      </form>
    </div>

  </div>
</div>
